@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
  --primary-color: #d7bc85;
  --secondary-color: #e7e3ce;
  --third-color: #614d24;
  --fourth-color: beige;
  --fifth-color: #000000;
  --sixth-color: grey;
}

/* VARIABLES=============RESET & ROOT=========================== */

body {
  background: var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

a {
  display: block;
  font-size: 4rem;
  margin: 2rem;
  padding: 4rem;
  text-decoration: none;
  color: #614d24;
  text-shadow: 10px 0px 20px black;

}
.portfolio:hover,
.project-z:hover,
.movies:hover,
.realestate:hover,
.moretocome:hover {
text-decoration: overline;
color: grey;
}